* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  font-family: "Arial", sans-serif;
  background: linear-gradient(145deg, #0d0d0d, #1a1a1a);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.background-overlay::before {
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 0, 128, 0.15), transparent 50%);
  animation: bg-shadow 10s linear infinite;
  transform-origin: center;
}

@keyframes bg-shadow {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.horizontal-lines {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  box-shadow: 0 0 30px 5px #00ffff;
  background-color: #00ffff;
  z-index: -1;
}

.line1 {
  top: 30%;
}

.line2 {
  top: 70%;
}

.green-line {
  animation: green-win 1.5s ease-in-out;
}

@keyframes green-win {
  0% {
    box-shadow: 0 0 30px 5px #00ffff;
    background-color: #00ffff;
  }
  20% {
    box-shadow: 0 0 30px 5px #30e620;
    background-color: #30e620;
  }
  80% {
    box-shadow: 0 0 30px 5px #30e620;
    background-color: #30e620;
  }
  100% {
    box-shadow: 0 0 30px 5px #00ffff;
    background-color: #00ffff;
  }
}
.red-lose {
  animation: red-lose 1.5s ease-in-out;
}

@keyframes red-lose {
  0% {
    box-shadow: 0 0 30px 5px #00ffff;
    background-color: #00ffff;
  }
  20% {
    box-shadow: 0 0 30px 5px #e4273d;
    background-color: #e4273d;
  }
  80% {
    box-shadow: 0 0 30px 5px #e4273d;
    background-color: #e4273d;
  }
  100% {
    box-shadow: 0 0 30px 5px #00ffff;
    background-color: #00ffff;
  }
}
.back-to-main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.logo-name {
  display: flex;
  align-items: center;
}

.logo-container {
  width: 110px;
  height: 70px;
  position: relative;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.name {
  color: #00ffff;
  font-size: 18px;
  margin-top: 10px;
  margin-left: -10px;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 80px #00ffff;
}

.game-name {
  font-size: 40px;
  margin: 20px auto 20px auto;
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 80px #00ffff;
}

.back-to-main {
  width: 100px;
  height: 38px;
  font-size: 15px;
  margin-right: 20px;
  box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff, 0 0 20px #00ffff, 0 0 25px #00ffff;
  background-color: #000;
  color: #00ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.load-new-game {
  background-color: #000;
}

#game-board {
  box-shadow: 0 0 30px 5px #00ffff;
  border: 7px solid #00ffff;
  border-radius: 10px;
}

#score-board {
  display: flex;
  justify-content: space-between;
  width: 52%;
  align-items: center;
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  color: #00ffff;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff, 0 0 20px #00ffff, 0 0 25px #00ffff;
  margin-bottom: 50px;
}

#current-score {
  color: #00ffff;
}/*# sourceMappingURL=snake.css.map */